@media screen and (max-width: 700px) {
  body header {
    background-color: white;
  }
  body #courses ul {
    overflow: auto;
  }
  body #courses li {
    margin-top: 15%;
  }
  body #courses a div {
    padding: 10%;
  }
  body footer {
    background-color: white;
    z-index: 10;
  }
  body th {
    font-size: 13px;
  }
  body tr td {
    font-size: 9px;
  }
  body #openNav {
    width: 40px;
    height: 40px;
  }
  body #navBar {
    background-color: white;
    font-size: 12px;
  }
}
