//media query changes a few things to reduce clutter on smaller screens, basically the same code outside of that

@media screen and (max-width: 700px) {
  body {
    header {
      background-color: white;
    }
  
  
      #courses {
        ul {
          overflow: auto;
        }
        li {
          margin-top: 15%;
        }
  
        a {
          div {
            padding: 10%;
          }
        }
      }
  
      footer {
        background-color:white;
        z-index: 10;
      }
    th {
      font-size: 13px;
    }
    tr {
   
      td {
        font-size: 9px;
      }
    }
    #openNav {
      width: 40px;
      height: 40px;
    }
  
    #navBar {
    
      background-color: white;
      font-size: 12px;

    }
  
  }
}
  
  

      
    
  

